<h1>Display Lists</h1>

<h3>List of Lists</h3>
<% @lists.each do |list| %>
<p><%= link_to list.name, list_path(list)  %></p>
<% end %>

<%= link_to 'Create New List', new_list_path, class: 'button' %>

<h3>List of all Movies</h3>
<% @movies.each do |movie| %>
<p><%= movie.title  %></p>
<% end %>


<!--
pe
<%=  %>
er
<%  %>
